<!-- <app-students></app-students> -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/auth']"
                    routerLinkActive="active"
                    >Auth</a>
                   </li>

            <li class="nav-item"><a class="nav-link" [routerLink]="['/']"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact:true}"
                 >Home</a>
                </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/users']"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact:true}"

                >users</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/categories']" 
                routerLinkActive="active"
                                 [routerLinkActiveOptions]="{exact:true}"

                >categories</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/ReactiveForms']" 
                    routerLinkActive="active"
                                     [routerLinkActiveOptions]="{exact:true}"
    
                    >Reactive Forms</a></li>

                    <li class="nav-item"><a class="nav-link" [routerLink]="['/students']" 
                        routerLinkActive="active"
                                         [routerLinkActiveOptions]="{exact:true}"
        
                        >students</a></li>

                    <li class="nav-item"><a class="nav-link" [routerLink]="['/Getdata']" 
                            routerLinkActive="active"
                                             [routerLinkActiveOptions]="{exact:true}"
            
                            >Getdata</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
        <button (click)="Login()">Login</button>
        <button (click)="Logout()">LogOut</button>
    </div>
</div> -->

<router-outlet></router-outlet>

<br>
<!-- <app-reactive-form></app-reactive-form> -->

