<!-- <app-students></app-students> -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column nav-pills">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/']"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact:true}"
                 >Home</a>
                </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/users']"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact:true}"

                >users</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/categories']" 
                routerLinkActive="active"
                                 [routerLinkActiveOptions]="{exact:true}"

                >categories</a></li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
