<div class="row">
    <div class="col-md-12">
        <form [formGroup]="Form" (ngSubmit)="onFormSubmit()">
            <div class="form-group" *ngIf="!IsLogin">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name">
                <span *ngIf="!Form.get('name')?.valid && Form.get('name')?.touched">Enter name</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email">
                <span *ngIf="!Form.get('email')?.valid && Form.get('email')?.touched">Enter correct Email</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password">
                <span *ngIf="!Form.get('password')?.valid && Form.get('password')?.touched">Enter Correct Password</span>
            </div>

            <div class="mt-4">
                <button class="btn btn-primary" type="submit" (click)="SignupORlogin()">{{IsLogin ? 'Login':'Signup'}}</button> |
                <button class="btn btn-primary" type="button" (click)="OnSwitch()">{{IsLogin ? 'Switch to SignUp':'Switch to Login'}}</button>

            </div>
        </form>
    </div>
</div>